/* body {
  background-color: #1a68d3;
  background-image: radial-gradient(ellipse at bottom,#1a68d3 5%,transparent 60%),
      linear-gradient(136deg,transparent,#71c7ee 290%),
      linear-gradient(115deg,#9d9af1,transparent 40%),
      linear-gradient(180deg,transparent 0,#1a68d3 70%),
      radial-gradient(ellipse at -70% -180%,transparent 80%,#71c7ee 0),
      radial-gradient(ellipse at bottom,#1a68d3 40%,transparent 80%),
      radial-gradient(ellipse at 5% 340%,transparent 80%,#bfc2f4 0);
  background-repeat: no-repeat;
  height: 1600px;
} */
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");


body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: "Luckiest Guy", cursive !important;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

button.navbar-toggler {
  border: none;
  outline:none;
}

.navbar-toggler:hover {
  border:0;
}

.bg-image {
  background-image: url(images/bg2.jpg);
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

/*
 * General Styling
 */
 body {
  font-family: Calibri;
  transition: 0.2s ease;
  text-align: center;
}
body.success  {
  background-color: #b7f0b7;
  transition: 0.2s ease;
}
/* center everything in game container */
.game-container {
  margin: 0px auto;
  padding-top: 200px;
}
/*
 * Map screen
 */

.game-map {
  position: relative;
  border-radius: 25px;
  box-sizing: content-box;
  border: 45px solid white;
}
/*
 * Output text styles
 */

p {
  margin: 10px 0px;
  padding: 0px;
}


/*
 * Map on left, controls on right
 * Adapted for the mobile Medium app
 */
#map-and-controls {
  display: flex;
  justify-content: center;
}
/*
 * Controls
 */

#controls {
  margin-left: 10px;
  text-align: center;
}
/*
 * Container for right and left buttons
 */
#controls #horiz {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
 * General button styles
 */
#controls button {
  padding: 10px 10px;
  margin-top: 10px;
  background-color: #DDD;
  border: 1px solid #000;
  width: 38px;
  height: 38px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
/*
 * Spacing between horiz buttons
 */
button#right {
  margin-left: 5px;
}
button#left {
  margin-right: 5px;
}

/*
 * General button arrow styles
 */
#controls button::before {
  content:'';
  width: 0px;
  position: absolute;
}
/*
 * Specific Arrow Styles
 */
button#left::before {
  border-top: 10px solid transparent;
  border-right: 15px solid #000;
  border-bottom: 10px solid transparent;
  left: 10px;
  top: 9px;
}
button#right::before {
  border-top: 10px solid transparent;
  border-left: 15px solid #000;
  border-bottom: 10px solid transparent;
  left: 12px;
  top: 9px;
}
button#up::before {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 15px solid #000;
  left: 9px;
  top: 9px;
}
button#down::before {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 15px solid #000;
  left: 9px;
  top: 12px;
}
#success-msg {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  padding: 5px 5px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: calc(100% - 8px);
}
 body.success #success-msg {
  opacity: 1;
  transition: opacity 0.2 ease;
}



/*
 * Layers and tiles are positioned absolutely
 * within coordinate system of .game-map 
 */
div.layer,
div.layer div {
  position: absolute;
}
/* border for floors and wall */
#tiles div {
  border: 1px solid grey;
}

#effect-area{
  width: inherit;
  height: inherit;
  background: #00000000;
}

/*
 * Default wall and floor styles
 */

.default .floor {
  background-color: #affaffa1;
}

.default .wall {
  background-color: white;
}
/*
 * grassland theme  
 */
.grassland .floor {
  background-color: #7bb76d;
}
.grassland .wall {
  background-color: #806d51;
}
.grassland #player {
 background-color: #b2ccec;
}

/* 
 * dungeon theme
 */
.dungeon .floor {
  background-color: darkgrey;
}
.dungeon .wall {
  background-color: #9c649c;
}
.dungeon #player {
 background-color: #ab1431;
}
/*
 * player and goal are slightly smaller than tiles
 */
.player, 
.goal {
  transform-origin: center;
  transform:scale(0.85);
}
/*
 * Goal colors
 */
.goal {
  background-color: #FFD700;
  border: 1px solid #98720b;
}
/*
 *  Player default colors
 */
.player {
  background-color: #90ee90;
  border: 1px solid #008000;
  transition: left 0.2s ease, top 0.2s ease;
}
/*
 * Player wobbles when colliding with wall or border
 */
.player.collide {  
  animation: wobble 0.5s;
  animation-iteration-count: infinite;
  transition: background-color 0.2s;
  
}

/* 
 * Wobble animation for player
 */
@keyframes wobble {
  0% { transform: scale(0.85) translate(1px, 1px); }
  10% { transform: scale(0.85) translate(-1px, -2px); }
  20% { transform: scale(0.85) translate(-3px, 0px); }
  30% { transform: scale(0.85) translate(3px, 2px); }
  40% { transform: scale(0.85) translate(1px, -1px);}
  50% { transform: scale(0.85) translate(-1px, 2px); }
  60% { transform: scale(0.85) translate(-3px, 1px); }
  70% { transform: scale(0.85) translate(3px, 1px); }
  80% { transform: scale(0.85) translate(-1px, -1px); }
  90% { transform: scale(0.85) translate(1px, 2px); }
  100% { transform: scale(0.85) translate(1px, -2px);; }
}

/* 
 * flashbang animation for map area
 */
 .vfx-flashbang {
  animation-name: flashbang;
  animation-duration: 5s;
}

@keyframes flashbang {
  0%   {background-color: #ffffff60;}
  3%   {background-color: #ffffff;}
  60%  {background-color: #ffffff;}
  100% {background-color: #ffffff00;}
}


/* 
 * spook animation for map area
 */
 .vfx-spook {
  animation-name: spook;
  animation-duration: 2s;;
  background-size: cover;
  z-index: 1;
}

@keyframes spook {
  0%   {background-image: url("https://filmdaily.co/wp-content/uploads/2020/10/amongus-main.jpg")}
  100% {background-image: none}
}

/* 
 * nade animation for player item
 */
 .vfx-nade {
  padding: 25px;
  border-radius: 50px;
  position: absolute;
  background-color: #ffffff00;
  animation-name: nade;
  animation-duration: 1s;;
  pointer-events:none;
}

@keyframes nade {
  0%  {
      background-color: #070031;
      padding: 100px;
      -webkit-box-shadow: 0 0 30px 20px #070031;
      box-shadow:inset 0 0 30px 20px white    }
  20%  {
      background-color: #070031;
      padding: 100px;
      -webkit-box-shadow: 0 0 30px 20px #070031;
      box-shadow:inset 0 0 30px 0 white    }

  80%  {
      background-color: #070031;
      padding: 100px;
      -webkit-box-shadow: 0 0 30px 20px #070031;
      box-shadow:inset 0 0 10px 20px white   }
  100%  {
      background-color: #070031;
      padding: 100px;
      -webkit-box-shadow: 0 0 30px 20px #070031;
      box-shadow:inset 0 0 10px 100px white   }
}


/* 
 * map situation 1
 */
.mpg-flashlight {
  padding: 100px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff7d338;
  border: 2000px solid black;
  pointer-events:none
}
/* 
 * map situation 2
 */
.mpg-memory {
  border-radius: 50%;
  position: absolute;
  background-color: #000000;
  border: 100px solid black;
  pointer-events:none
}
/* 
 * map situation 3
 */
 .mpg-lightning {
  background-color: black;
  animation-name: lightning;
  animation-duration: 7s;
}
/* 
 * lightning animation for map situation
 */
@keyframes lightning {
  0%   {background-color: #000000;}
  1%   {background-color: #ffffff8c;}
  4%   {background-color: #ffffffd3;}
  5%   {background-color: #ffffff8c;}
  8%   {background-color: #ffffffc9;}
  12%  {background-color: #ffffff00;}
  39%  {background-color: #00000000;}
  40%  {background-color: #ffffffb6;}
  41%  {background-color: #ffffff8c;}
  44%  {background-color: #ffffffad;}
  48%  {background-color: #ffffff00;}
  67%  {background-color: #ffffff00;}
  100% {background-color: #000000;}
}

h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  -webkit-animation: bounce 0.4s ease infinite alternate;
  font-size: 80px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(13) {
  -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(14) {
  -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(15) {
  -webkit-animation-delay: 0.4s;
}
h1 span:nth-child(16) {
  -webkit-animation-delay: 0.5s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}